body {
    /* background: #300047; */
    background-color: #21062f;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container{

    width: 3900px; 
    height: 500px;
    display: flex;

}

.slides {
  
    height: 95%;
    width: 100%; 
    object-fit: cover;
    transform: translateX(0%);
    transition: transform 0.4s ease-out;

}

.navigation-container {
    display: flex;
    justify-content: center;
    position:absolute;
    left: 40%;
    top: 63%;
   }

.slideNavigator {
  
    width: 18px;
    height: 18px;
    margin-left: 2rem;
    background-color: #fff;
    border: 1px solid #660066;
    display: block;
    border-radius: 50%; 
 } 
 
